@charset "utf-8";

:root{
  --main-font : 'NanumSquareNeo'; 
  --eg-font : "Wanted Sans";
  --point-font : 'DungGeunMo'; 
  --point-color : #6758FF;
}

body { overflow-x: hidden; line-height: 1.5; font-size: 1.5rem; font-family: var(--main-font); color: #fff; background: #000;}
button, button * { font-family: inherit; }
.inner { max-width: 1780px; margin: 0 auto; padding: 0 20px;}

/* header */
#header { left: 0; top: 0; width: 100%; position: fixed; background: #000; z-index: 999; }
#header h1 { position: relative; z-index: 99;}
#header h1 > a > img { display: block; width: 100%; transition: all 0.5s; padding: 10px;}
#header nav { z-index: 90; position: relative;}
#header .top_menu { display: flex; gap: 20px; font-family: var(--eg-font); justify-content: flex-end; margin-right: 25px; transition: opacity 0.3s, height 0.3s; padding-top: 20px;} 

#header .bottom_menu { display: flex; justify-content: space-between; align-items: center; left: 0px; width: 100%;   top: 30px; }
#header .bottom_menu .gnb { display: flex; gap: 45px; font-size: 2rem; margin-top: 25px;}
#header .bottom_menu .gnb > li:not(:first-child) > a { font-family: var(--eg-font);}

/* 스크롤 시 top_menu 사라지고 bottom_menu가 위로 */
body.scrolled #header .top_menu {
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}

body.scrolled #header .bottom_menu {
  top: 0;
  background: rgb(0, 0, 0, 1);
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* gnb 호버 효과 0.7rem 1.5rem*/
#header nav .gnb > li a { position: relative; padding:  13px 25px; }
#header nav a svg { position: absolute; bottom: 0; left: 0; transform: skew(-30deg); }
#header nav a svg rect { shape-rendering: crispEdges; }
#header nav a .blue rect {  fill: #05eafa;  mix-blend-mode: color-dodge; }
#header nav a .pink rect { fill: #ff6bd3; }

#header .ham { z-index: 100; display: none; position: relative; width: 30px; height: 30px; background: transparent; font-size: 0; cursor: pointer; }
#header .ham::before { transition: all 0.5s; position: absolute; left: 0; top: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }
#header .ham::after { transition: all 0.5s; position: absolute; left: 0; bottom: 8px; content: ""; display: block; width: 100%; height: 3px; background: #fff; }

#header .ham.active::before { transform: translate(0,5.5px) rotate(45deg);  }
#header .ham.active::after { transform: translate(0,-5.5px)  rotate(-45deg); }

/* mgnb */
.mgnb_wrap { display: none; width: 100%; height: 100%; background: #000; position: fixed; left: 0; top: -120px; margin: 120px 0; padding: 0 20px; overflow: hidden; }
.mgnb_wrap .stars { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; }
.mgnb_wrap .mgnb { position: relative; z-index: 1;  margin-top: 170px; padding: 0 20px;}
.mgnb_wrap .mgnb > li { font-size: 2rem; padding: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.3);  }
.mgnb_wrap .mgnb > li:not(:first-child) > a { font-family: var(--eg-font);}

@media (max-width : 1300px) {
  #header .bottom_menu .gnb { gap: 30px; }
}

@media (max-width : 1024px) {
  #header h1 > a > img { width: 200px; }
  #header .top_menu { margin: 0; } 
  #header .bottom_menu .gnb { gap: 20px; }
  #header .bottom_menu .gnb { display: none;}
  #header .ham { display: block;}
}

@media (max-width : 768px) {
  #header h1 > a > img { width: 180px; padding: 0;}
  .mgnb_wrap .mgnb { margin-top: 140px; padding: 0 10px ;}
  .mgnb_wrap .mgnb > li { font-size: 1.6rem;}
}

@media (max-width : 600px) {
  #header h1 > a > img { width: 170px;}
  #header .top_menu { font-size: 1.4rem;}
}

@media (max-width : 500px) {
  #header h1 > a > img { width: 160px;}
  #header .top_menu { font-size: 1.3rem;}
  .mgnb_wrap .mgnb { margin-top: 150px; }
}

@media (max-width : 400px) {
  #header h1 > a > img { width: 130px;}

  #header .top_menu { font-size: 1.3rem;}
  .mgnb_wrap .mgnb > li { font-size: 1.5rem; padding: 15px;}
}

/* footer */
#footer { background: #000; padding: 100px 0; position: relative;}
#footer .footer_container { display: flex; flex-wrap: wrap; justify-content: space-between; }
.footer_left { order: 1;}
.nav_list { display: flex; gap: 10px;}
.nav_list li:not(:first-child) { border-left: 1px solid #fff; padding-left: 10px;}

#footer dt { opacity: 0.5; }
.address { display: flex; gap: 10px; padding: 34px 0;}
.footer_right { display: flex; gap: 20px; order: 3;}
.owner, .Business_number, .e-mail { display: flex; gap: 10px;}

.footer_logos {position: absolute; width: 321px; left: 51%; top: 50%; transform: translate(-50%,-50%);  }
.footer_logos img { width: 100%; display: block; }

:root {
  --x: 0;
  --y: 0;
  --xp: 0;
  --yp: 0;
  --hue: calc(0 + (var(--xp) * 500));
  --bg: hsl(0 0% 15%);
  --size: 150px;
  --glow: radial-gradient(
    50% 50% at center,
    hsl(var(--hue) 90% 75%) 0%,
    hsl(var(--hue) 90% 75%) 40%,
    hsl(var(--hue) 90% 70%) 70%,
    transparent 100%
  )
  calc((var(--x) * 1px) - (var(--size) * 0.5))
  calc((var(--y) * 1px) - (var(--size) * 0.5)) /
  var(--size) var(--size) no-repeat fixed;
}

.footer_reservation { position: absolute; bottom: 56px; right: 60px;padding: 14px 32px; font-size: 1.2rem; border-radius: 25px; z-index: 10;
background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--glow), linear-gradient(black, black) border-box; border: 3px solid rgba(255, 255, 255, 0.3); box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset; cursor: pointer; transition: background-size 0.24s;
}

.footer_reservation::before { content: ""; position: absolute; inset: 0; background: var(--bg); border-radius: 25px; z-index: 2; box-shadow: 0 1px hsl(0 0% 100% / -0.85) inset;}

.footer_reservation::after { content: ""; position: absolute; inset: -4px; border-radius: 30px; background: var(--glow); border: 3px solid transparent; filter: blur(40px);}

.footer_reservation span { background: var(--glow), black; -webkit-background-clip: text; background-clip: text; color: transparent; position: relative; z-index: 2; font-size: 2rem; color: #fff;}

:root:has(.footer_reservation:active) {--size: 400px;}

@media (max-width:1545px) { 
#footer .footer_container { gap: 34px;}
.footer_logos {position: static; transform: translate(0,0); order: 1; }
.footer_logos img { width: 100%; display: block; }
.footer_reservation { bottom: 78px; right: 81px;}
} 

@media (max-width:1080px) {
  .footer_container { font-size: 1.2rem;}
  .footer_logos img { width: 87%;}
  .footer_reservation { bottom: 93px;  right: 135px;     padding: 11px 25px; }
  .footer_reservation span {font-size: 1.5rem; }
}

@media (max-width:920px) { 
  #footer { padding: 100px 0;}
  .footer_reservation span { font-size: 1.2rem; }
  .footer_reservation {padding: 7px 22px;}
}



@media (max-width:883px) {
  #footer { text-align: center; padding: 100px 0 100px;}
  #footer .footer_container { gap: 25px;}
  .footer_reservation { bottom: 97px; right: 14%; padding: 9px 22px;}
  .footer_left { text-align: left;}
  .address { padding: 15px 0;}
} 

@media (max-width:882px) {
 #footer .footer_container { gap: 12px;}
} 


@media (max-width:880px) {
  #footer { text-align: center; padding: 100px 0 0;}
  .footer_reservation { bottom: 85px; right: 14%; padding: 9px 22px;}
  .footer_left { text-align: left;}
  .footer_logos {position: static; transform: translate(0,-130px); order: 3; }
} 

@media (max-width:860px) {
  #footer { text-align: center; padding: 100px 0 74px; }
  #footer .footer_container { justify-content: center;}
  .address {justify-content: center; }
  .footer_logos {position: static; transform: translate(0,-40px); order: 0; padding-bottom: 50px; }
  .footer_left { text-align: center;}
  .footer_reservation { bottom: 224px; right: 44%; padding: 9px 22px;}
}


@media (max-width:600px) { 
 .footer_logos{ width: 250px;}
 .footer_logos img { width: 100%;}
 .footer_reservation { bottom: 236px; right: 40%;  padding: 9px 22px;}
}


@media (max-width:578px) { 
  .nav_list {  flex-wrap: wrap; justify-content: center;  }
}

@media (max-width:535px) { 
  .footer_logos { transform: translate(0, -34px);}
}

@media (max-width:521px) { 
  #footer { padding: 130px 0 90px;}
 .footer_logos{ width: 200px; transform: translate(0, -27px);}
  .footer_logos img { width: 100%;}
  .footer_reservation {  padding: 7px 22px;}
  .footer_reservation span { font-size: 1.1rem; }
}

@media (max-width:520px) {
  .footer_reservation { bottom: 262px;}
}

@media (max-width:514px) { 
.owner, .Business_number, .e-mail { gap: 10px; }
.nav_list li:not(:first-child):not(:nth-child(4)) { padding-left: 10px;}
}

@media (max-width:505px) {
  .owner, .Business_number, .e-mail { flex-wrap: wrap; justify-content: center; }
  .footer_reservation { padding: 6px 14px;}
  .footer_reservation {border: 2px solid rgba(255, 255, 255, 0.3);}
  .footer_reservation span { font-size: 1.1rem;}
}

@media (max-width:483px) {
  .footer_reservation { bottom: 290px;}
}

@media (max-width:457px) {
  .footer_container { font-size: 1rem; }
  .footer_reservation { bottom: 240px;}
  .address {padding: 20px 0;}
}

@media (max-width:453px) {
.footer_reservation { bottom: 260px;  right: 40%;}
}  

@media (max-width:421px) {
  #footer { padding: 114px 0 86px; }
  .footer_reservation { bottom: 280px; right: 38%;}
}
@media (max-width: 330px) {
  .address { flex-wrap: wrap;}
}

@media (max-width: 325px) {
  .footer_reservation { bottom: 310px; right:35%;}
}



