@charset "utf-8";
#header { position: relative;}

.title { text-align: center; padding: 100px 0 200px;}
.title p { font-size: 2rem; letter-spacing: 10px;}
.title h2 { font-size: 6rem; padding-top: 10px; display: inline-block; background: linear-gradient(80deg, #00BFFE, #6758FF); -webkit-background-clip: text;  -webkit-text-fill-color: transparent;  background-clip: text; color: transparent;  }

@media (max-width : 1024px) {
  .title { padding: 90px 0 150px;}
  .title p { font-size: 1.7rem; letter-spacing: 9px;}
  .title h2 { font-size: 5rem;}
}
 
@media (max-width : 768px) {
  .title { padding: 85px 0 100px;}
  .title p { font-size: 1.5rem; letter-spacing: 8px;}
  .title h2 { font-size: 4rem;}
}

@media (max-width : 500px) {
  .title { padding: 80px 0 80px;}
  .title p { font-size: 1.3rem; letter-spacing: 7px;}
  .title h2 { font-size: 3rem;}
}

@media (max-width : 400px) {
  .title p { font-size: 1.1rem; letter-spacing: 6px;}
}

.company { padding: 150px 0; background: #fff; color: #121212;}
.company .inner { max-width: 1480px ;}
.company h3 { font-family: "Orbitron", sans-serif; font-size: 4rem; padding-bottom: 23px; margin-left: 20px;}
.company h3 span { font-size: 7rem; }
.company .name { font-size: 3.5rem; font-weight: 700;}
.company .eg_name { font-size: 2rem; font-weight: 200; padding-bottom: 30px; }
.company .game_img { position: relative; }

.company .game_img > img { display: block; border-radius: 30px; width: 100%; }
.company .game_img .game_logo > img { display: block; width: 100%;}
.company .swiper { padding-bottom: 100px;}

.company li { position: relative; background: #e2e0f8; transition: background-color 0.3s ease; overflow: hidden; padding: 60px 40px; border-radius: 50px; }
.company li::after { content: ''; position: absolute; inset: 0; background: linear-gradient(55deg, #e2e0f8, #d5d1fa, #00BFFE); opacity: 0; transition: opacity 0.3s ease;  z-index: 0;  border-radius: 50px;}
.company li:hover::after { opacity: 1;}
.company li > * {  position: relative;  z-index: 1;}
.company .game_img .game_logo { position: absolute; left: 50%; top: 50%;  display: inline-block;  transition: all 0.5s ease-in-out; transform: translate3d(0px, 0px, 50px) translate(-50%, -50%);   }

@media (max-width : 1300px) {
  .company h3 { font-size: 3rem; padding-bottom: 15px; }
  .company h3 span { font-size: 6rem; }
  .company .name { font-size: 3rem; }
  .company .eg_name { font-size: 2.2rem;}
  .company .swiper-slide { padding: 50px 30px;}
}
 
@media (max-width : 1024px) {
  .company { padding: 100px 0; }
  .company h3 { font-size: 2.5rem; padding-bottom: 10px; }
  .company h3 span { font-size: 5rem; }
  .company .name { font-size: 2.5rem; }
  .company .eg_name { font-size: 2rem;}
  .company .swiper-slide { padding: 45px 25px;}
  .company .swiper { padding-bottom: 80px;}
}

@media (max-width : 768px) {
  .company { padding: 80px 0; }
  .company .inner { padding: 0 30px;}
  .company h3 { font-size: 2rem; padding-bottom: 5px; }
  .company h3 span { font-size: 4rem;  }
  .company .name { font-size: 2rem; }
  .company .eg_name { font-size: 1.8rem; padding: 20px 0 9px;}
  .company .swiper-slide { padding: 40px 20px;}
  .company .swiper { padding-bottom: 60px;}
}

@media (max-width : 500px) {
  .company .inner { padding: 0 40px;}
  .company h3 { font-size: 1.8rem; }
  .company h3 span { font-size: 3rem; }
  .company .name { font-size: 1.8rem; }
  .company .eg_name { font-size: 1.5rem; padding: 10px 0 9px;}
  .company .swiper-slide { padding: 30px 20px;}
  .company .swiper { padding-bottom: 40px;}
}

@media (max-width : 390px) {
  .company .inner { padding: 0 20px;} 
  .company .swiper { padding-bottom: 30px;}
}